/*Common CSS-------------------------------------*/

/*
    Matte Color Palette:
    1: #c5d5cb
    2: #9fa8a3
    3: #e3e0cf
    4: #fff
*/
/* ~~ Top Navigation Bar ~~ */
.navigation-bar {
    background-color: #352d2f;
    height: 70px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
}

#navigation-container {
    width: 100%;
    margin: 0 auto;
    height: 70px;
    min-width: 530px;

}

.navigation-bar img {
    float: left;
}

.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;

}

.navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;

}

a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.navigation-bar li a {
    color: white;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;

}

/* header image */
header {
    width: 960px;
    height: 100px;
    margin: 0 auto;
}

/* General Fonts & Body */

* {
    box-sizing: border-box;
}

body {
    background: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 3em;
    color: black;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 2em;
    ;
    color: black;
    border-bottom: 1px solid #CCCCCC;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 17px;
    ;
    color: black;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 15px;
    ;
    color: black;
}

.main-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

/*sets up a marker at the begging of the section titles*/
.icon:before {
    content: "-";
    padding-right: 10px;
    border-left: 7px solid #9cb4a4;
}

section {
    margin-bottom: 35px;
}

/*Header CSS---------------------------------------*/

.logo_size_about {
    text-align: left;
    height: 100%;
}

#pageTitle {
    color: aqua;
    vertical-align: middle;
    padding-top: 10px;

}

/*Index.html CSS------------------------------------*/
.hero-image {
    padding-top: 70px;
}

/*Page2.html CSS------------------------------------*/

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

.welcomeGreeting {
    text-align: center;
    padding-top: 70px;
}

#parkMap {
    width: 95%;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    transition: transform .3s;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {

    width: 50%;
    padding: 5px;
    min-width: 235px;
    max-width: 300px;
    text-align: left;
}

.row {
    display: flex;
    width: 75%;
    min-width: 235px;

}

.column {
    flex: 50%;
    padding: 5px;

}

@media screen and (max-width: 6000px) {
    .column {
        width: 100%;
    }
}

/*Page3.html CSS------------------------------------*/

.slider-holder {
    width: 100%;
    max-width: 800px;
    max-height: 400px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    overflow: hidden;
}

.image-holder {
    width: 2400px;
    background-color: red;
    height: 400px;
    clear: both;
    position: relative;
}

.slider-image {
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    float: left;

}

#slider-image-1:target ~ .image-holder {
    left: 0px;
}

#slider-image-2:target ~ .image-holder {
    left: -800px;
}

#slider-image-3:target ~ .image-holder {
    left: -1600px;
}

.button-holder {
    position: relative;
    bottom: 20px;
}

.slider-change {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
}

.zoom:hover {
    transition: transform .3s;
    transform: scale(1.30);
}

/*sets up the footer to also be a navigation bar*/
footer {
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
    background-color: #352d2f;

}

footer #contactInformation {
    text-align: center;
    margin: auto;
    width: 99% color: white;

}

footer #contactInformation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

footer #contactInformation ul li {
    display: inline-block;
    margin: 20px;
    height: 20px;

}

footer #contactInformation ul li a {
    color: white;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 5px 15px;
    opacity: 0.7;
}
