/*------GLOBAL CSS BEGIN-----*/

/*FONTS*/

h1 {
    font-family: 'Bitter', serif;
    font-size: 36px;
    border-bottom: 1px solid #CCCCCC;
}

h2 {
    font-family: 'Bitter', serif;
    font-size: 24px;
}

p {
    font-family: 'Bitter', serif;
    font-size: 16px;
}

/*Global Page Headers */

#about {
    background-image: url(../img/aboutImageHeader.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
}

#index {
    background-image: url(../img/bg-index.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
}

/*Global Body CSS */
body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    color: #333333;
    font-size: 15px;
    line-height: 2;
}

.main-center {
    width: 940px;
    margin: 0 auto;
}

#wrap {
    clear: both;
    background-color: white;
    margin-top: 220px;
    padding: 35px 0;
}

section {
    margin-bottom: 35px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/*page top button*/
#page_top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #3f98ef;
    opacity: 0.6;
    border-radius: 50%;
}

#page_top a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

#page_top a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    text-align: center;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0;
    left: 0;
    margin: auto;
}

/* PAGE NAVIGATION */
header {
    width: 960px;
    height: 100px;
    margin: 0 auto;
}

/*logo*/

.logo {
    float: left;
    margin-top: 50px;
}

.logo_size {
    height: 50px;
    width: auto;
}


.global-nav {
    float: right;
    margin-top: 60px;
}

.global-nav li {
    float: left;
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
    font-family: 'Bitter', serif;
}

.global-nav li a {
    color: #ffffff;
}

.global-nav li a:hover {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 3px;
    text-decoration: none;
}

/* Global FOOTER */
footer {
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
    background-color: #767671;
}

footer #fpLinks {
    text-align: center;
    margin: auto;
    width: 99%
}

footer #fpLinks ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer #fpLinks ul li {
    display: inline-block;
    margin: 20px;
    height: 20px;
}

footer #fpLinks ul li a {
    color: white;
}

footer small {
    font-size: 12px;
}

/*------PAGE CSS BEGIN-----*/

/*About Page*/


/* Top of the page Title */
.welcomeGreeting {
    text-align: center;
    padding-top: 70px;
}

/*Main map*/
.ParkMapBoxModel {
    width: 85%;
    padding: 55px;
    border: 0px;
    margin: 0px;
}

#parkMap {
    width: 95%;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    transition: transform .3s;
}

.slider-holder {
    width: 100%;
    max-width: 800px;
    max-height: 400px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    overflow: hidden;
}

.image-holder {
    width: 2400px;
    background-color: red;
    height: 400px;
    clear: both;
    position: relative;
}

.slider-image {
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    float: left;

}

#slider-image-1:target ~ .image-holder {
    left: 0px;
}

#slider-image-2:target ~ .image-holder {
    left: -800px;
}

#slider-image-3:target ~ .image-holder {
    left: -1600px;
}

.button-holder {
    position: relative;
    bottom: 20px;
}

.slider-change {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
}

.zoom:hover {
    transition: transform .3s;
    transform: scale(1.30);
}

/*Index Page*/

/*# style sheet for the index page*/
img {
    vertical-align: bottom;
}

ul {
    margin: 0;
    padding: 0;
}

/* link */

a {
    color: navy;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    text-decoration: underline;
}

/*modifies the spacing of the main content will automaticly resize with the window*/
.content {
    width: 70%;
    margin: 0 auto;
}

/*Modifys the where to buy tickets section*/
.buyTickets ul li {
    display: inline-block;
    padding: 0 20px;
}

/*alines the new attraction list on the left */
.newAttractions ol li{
    text-align: left;
    padding: 0 20px;
}

/*makes the buy now button look more visually appleaing*/
.btnBuy {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px;
    margin: auto;
    display: block;
}

.btnBuy:hover {
    background-color: white;
    border: 2px solid #4CAF50;
    color: black;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px;
}

/*modifies the main content of the page to fit within the edges of the container*/
.mainContent {
    width: 99%;
    margin: 0 auto;
    text-align: center;
    list-style-position: inside;
}

/* styles the image for setting the mood*/
.peopleFun{
    align-content: center;
    width:840px;
    height:350px;
}

/*sets up a marker at the begging of the section titles*/
.icon:before {
    content: "|";
    padding-right: 10px;
    border-left: 7px solid #9cb4a4;
}

/*lets the images enlarge when the mouse hovers over them*/
.enlarge{
     width:250px;
    height:200px;
}

.enlarge:hover {
    transition: transform .3s;
    transform: scale(1.30);
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

section {
    margin-bottom: 35px;
}

a img:hover {
    opacity: 0.8;
}

/*----------Page3---------- Page*/

#page3 {
    background-image: url(../img/bg-page3.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
}

#page3 .SDGs_main {
    display: block;
    margin-top: 0;
    width: 100%;
    height: auto;
}

#page3 img.SDGs {
    height: 220px;
    width: auto;
}

#page3 .collection-list {
    text-align: center;
}

#page3 .collection-list li {
    display: inline-block;
    list-style: none;
    margin: 0px 8px;
}

#page3 .collection-list li:first-child {
    margin-left: 0;
}

#page3 .collection-list li:nth-child(4n) {
    margin-right: 0;
}

#page3 .goals-txt-odd {
    text-align: justify;
    text-justify: auto;
    width: 540px;
    float: left;
    padding: 0 20px;
}

#page3 .goals-txt-even {
    text-align: justify;
    text-justify: auto;
    width: 540px;
    float: right;
    padding: 0 20px;
}

/*slide*/

.slide{
    float: right;
    position: relative;
    width: 340px;
    height: 340px;
    margin: 0 10px ;
}


@keyframes slideshow {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    28% {
        opacity: 1
    }

    38% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}

.slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    opacity: 0;
    animation: slideshow 24s linear infinite;
}

.slide img:nth-child(2) {
    animation-delay: 8s;
}

.slide img:last-child {
    animation-delay: 16s;
}

/*In action Directly SDGs*/

#goal04 {
    background-color: #ffbfcf;
    padding-top: 35px;
    padding-bottom: 35px;
}

#goal05 {
    background-color: #ffc3b7;
    padding-top: 35px;
    padding-bottom: 35px;
}

#goal07 {
    background-color: #ffffaf;
    padding-top: 35px;
    padding-bottom: 35px;
}

#goal11 {
    background-color: #ffc87d;
    padding-top: 35px;
    padding-bottom: 35px;
}

.goals {
    color: dimgrey;
    padding: 0px 10px;
}


img {
    vertical-align: bottom;
}

ul {
    margin: 0;
    padding: 0;
}

/* link */

a {
    color: #3583aa;
    text-decoration: none;
}

a:visited {
    color: #788d98;
}

a:hover {
    text-decoration: underline;
}

/* header */



/*body*/

.content {
    width: 960px;
    margin: 0 auto;
}

#wrap {
    clear: both;
    background-color: white;
    margin-top: 220px;
    padding: 35px 0;
}

footer {
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
    background-color: #767671;
}

/*button*/

.btn a {
    float: right;
    background-color: #009cd3;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Bitter', serif;
    width: 185px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border: 3px solid #009cd3;
}

.btn a:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #009cd3;
}

/*font*/

h1.top {
    text-align: center;
}

.icon:before {
    content: "";
    border-left: 7px solid #9cb4a4;
    padding-right: 10px;
}

/*layout*/


a img:hover {
    opacity: 0.8;
}

/*contact*/

#contact {
    background-image: url(../img/bg-contact.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
}

#contact .access table {
    float: left;
}

#contact .access th,
#contact .access td {
    text-align: left;
    vertical-align: top;
    line-height: 2.5;
}

#contact .access td {
    padding-left: 30px;
}

#contact .access iframe {
    width: 460px;
    float: right;
}

#contact .form {
    background-color: #eaeaea;
    padding: 30px 50px;
}

#contact .form dl dt {
    width: 165px;
    padding: 10px 0;
    float: left;
    clear: both;
}

#contact .form dl dd {
    padding: 10px 0;
}

#contact .form .name {
    width: 240px;
    height: 30px;
}

#contact .form .email {
    width: 300px;
    height: 30px;
}

#contact .form .tel {
    width: 240px;
    height: 30px;
}

#contact .form .type {
    width: 180px;
    height: 30px;
}

#contact .form .message {
    width: 660px;
    height: 150px;
}

#contact .form button {
    background-color: #009cd3;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Bitter', serif;
    width: 120px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border: 3px solid #009cd3;
    margin-left: 165px;
}

#contact .form button:hover {
    background-color: #fff;
    color: #009cd3;
    cursor: pointer;
}

#contact .form .required:after {
    content: "*";
    color: #ff0000;
}

#contact .form .attention {
    margin: 20px 0 0 165px;
}

iframe {
    border-width: 0px;
}

/*responsive css*/

@media screen and (max-width:600px) {
    /*max-width 600px*/

    body {
        font-size: 3.5vw;
    }

    h1 {
        font-size: 7.2vw;
    }

    h2,.top,.goals{
        font-size: 4vw;
    }

    header {
        width: auto;
        margin: 0 5%;
    }

    .logo {
        float: none;
        margin-top: 60px;
        text-align: center;
    }

    .global-nav {
        float: none;
        margin-top: 40px;
        text-align: center;
    }

    .global-nav li {
        display: inline;
        float: none;
        margin: 0 8px;
        font-size: 4vw;
    }

    .navigation-bar {
        float: none;
        margin-top: 40px;
        text-align: center;
    }

    .navigation-bar li {
        display: inline;
        float: none;
        margin: 0 8px;
    }

    #wrap {
        margin-top: 40px;
        padding: 35px 0 0;
        width: 600px;
    }
    
    .content {
        width: 100%;
    }

    .main {
        float: none;
        width: auto;
        margin: 0 5%;
    }

    h2 img {
        max-width: 100%;
    }
    

}
