/*Common CSS-------------------------------------*/

/*
    Matte Color Palette:
    1: #c5d5cb
    2: #9fa8a3
    3: #e3e0cf
    4: #fff
*/
/* ~~ Top Navigation Bar ~~ */
.navigation-bar {
    background-color: #352d2f;
    height: 70px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
}

#navigation-container {
    width: 100%;
    margin: 0 auto;
    height: 70px;
    min-width: 530px;

}

.navigation-bar img {
    float: left;
}

.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;

}

.navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;

}

a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.navigation-bar li a {
    color: white;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;

}


/* General Fonts & Body */

* {
    box-sizing: border-box;
}

body {
    background: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 2em;
    color: black;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 20px;
    ;
    color: black;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 17px;
    ;
    color: black;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 15px;
    ;
    color: black;
}

/*Header CSS---------------------------------------*/

#logo {
    text-align: left;
    width: 100%;
}

#pageTitle {
    color: aqua;
    vertical-align: middle;
    padding-top: 10px;

}

/*Index.html CSS------------------------------------*/
.hero-image {
    padding-top: 70px;
}

/*Page2.html CSS------------------------------------*/

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

#welcomeGreeting {
    text-align: center;
    padding-top: 70px;
}

#parkMap {
    width: 95%;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {

    width: 50%;
    padding: 5px;
    min-width: 235px;
    max-width: 300px;
    text-align: left;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;

}


.row {
    display: flex;
    width: 75%;
    min-width: 235px;

}

.column {
    flex: 50%;
    padding: 5px;

}

@media screen and (max-width: 6000px) {
    .column {
        width: 100%;
    }
}

/*Page3.html CSS------------------------------------*/
